@page "/ratings/create"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@inject Terprint.Web.Components.Pages.BatchChooser batchChooser
@inject Terprint.Web.Components.Pages.RatingCategoryChooser ratingCategoryChooser


<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h5>Rating</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Rating" OnValidSubmit="AddRating" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <Terprint.Web.Components.Pages.RatingCategoryChooser></Terprint.Web.Components.Pages.RatingCategoryChooser>
            <Terprint.Web.Components.Pages.BatchChooser   @bind-BatchId="SuppliedPosition"></Terprint.Web.Components.Pages.BatchChooser>
            <div class="mb-3">
                <label for="BatchId" class="form-label">BatchId:</label>
                <InputNumber id="BatchId" @bind-Value="Rating.BatchID" class="form-control" />
                <ValidationMessage For="() => Rating.BatchID" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="value" class="form-label">Value:</label> 
                <InputNumber id="value" @bind-Value="Rating.Value" class="form-control" /> 
                <ValidationMessage For="() => Rating.Value" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label> 
                <InputText id="notes" @bind-Value="Rating.Notes" class="form-control" /> 
                <ValidationMessage For="() => Rating.Notes" class="text-danger" /> 
            </div>   

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/ratings">Back to List</a>
</div>

@code {
    private int SuppliedPosition { get; set; }
    [SupplyParameterFromForm]
    public Rating Rating { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddRating()
    {
       // Rating.BatchID = SuppliedPosition;
        Rating.RatingCategoryID = ratingCategoryChooser.ratingCategory.RatingCategoryId;

        DB.Rating.Add(Rating);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/ratings");
    }
}
