@page "/RatingCategories/edit"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>RatingCategory</h4>
<hr />
@if (RatingCategory is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="RatingCategory" OnValidSubmit="UpdateRatingCategory" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="RatingCategory.RatingCategoryId" value="@RatingCategory.RatingCategoryId" />
                <div class="mb-3">
                    <label for="ratingcategorytype" class="form-label">RatingCategoryType:</label>
                    <InputText id="ratingcategorytype" @bind-Value="RatingCategory.RatingCategoryType" class="form-control" />
                    <ValidationMessage For="() => RatingCategory.RatingCategoryType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoryname" class="form-label">CategoryName:</label>
                    <InputText id="categoryname" @bind-Value="RatingCategory.CategoryName" class="form-control" />
                    <ValidationMessage For="() => RatingCategory.CategoryName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categorydescription" class="form-label">CategoryDescription:</label>
                    <InputText id="categorydescription" @bind-Value="RatingCategory.CategoryDescription" class="form-control" />
                    <ValidationMessage For="() => RatingCategory.CategoryDescription" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categorytitle" class="form-label">CategoryTitle:</label>
                    <InputText id="categorytitle" @bind-Value="RatingCategory.CategoryTitle" class="form-control" />
                    <ValidationMessage For="() => RatingCategory.CategoryTitle" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/ratingcategories">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int RatingCategoryId { get; set; }

    [SupplyParameterFromForm]
    public RatingCategory? RatingCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RatingCategory ??= await DB.RatingCategory.FirstOrDefaultAsync(m => m.RatingCategoryId == RatingCategoryId);

        if (RatingCategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateRatingCategory()
    {
        DB.Attach(RatingCategory!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RatingCategoryExists(RatingCategory!.RatingCategoryId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/ratingcategories");
    }

    bool RatingCategoryExists(int ratingcategoryid)
    {
        return DB.RatingCategory.Any(e => e.RatingCategoryId == ratingcategoryid);
    }
}
