@page "/addvalueswizard"
@inject Terprint.Web.Components.Pages.BatchPages.Create batch

<h3>AddValuesWIzard</h3>
<Terprint.Web.Components.Pages.GrowerPages.Create></Terprint.Web.Components.Pages.GrowerPages.Create>
<Terprint.Web.Components.Pages.StrainPages.Create></Terprint.Web.Components.Pages.StrainPages.Create>
<Terprint.Web.Components.Pages.BatchPages.Create></Terprint.Web.Components.Pages.BatchPages.Create>

@code {

}
