@inject common.AppState.StateContainer.THCValue asthcvalue
 

@{
    var analytecounts = asthcvalue.THCValues
         .GroupBy(t => t.Analyte.Trim().ToLower())
          .Select(group => new
          {
              Analyte = group.Key,
              Count = group.Count()
          })
                     .OrderBy(x => x.Analyte);
                     }
    <div class="container">
        <div class="row">

        @{
            foreach(var row in analytecounts
            )
            {
            <div class="col">@row.Analyte</div>
            <div class="col">@row.Count</div>
            }
        }
        </div>
    </div>


@code {

}
