@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext3 DB3
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject common.AppState appstate

@{

}

<div class="mb-3">
    <label for="ratingCategoryID" class="form-label">Rating Type:</label>
    <InputSelect id="ratingCategoryID" class="m-0 form-control" @bind-Value="@ratingCategory.RatingCategoryId" @oninput="OnRatingCategoryIdChanged">
        <option selected disabled>Select Category</option>
        @foreach (var b in ratingCategories)
        {

            <option value=@b.RatingCategoryId @onselect="() => ratingCategory.RatingCategoryId = b.RatingCategoryId">@b.CategoryName</option>
        }

    </InputSelect>
</div>
@if (ratingCategory.RatingCategoryType == "Scale 1-10")
{
    int val = 0;
    if (RatingValue != null)
    {
         val = int.Parse(RatingValue);
    }
    <RangeInput TValue="int" @bind-Value="val" @oninput="OnRatingValueChanged"  Min="0" Max="10" />
    <input type="number" @bind-value="@RatingValue" @oninput="OnRatingValueChanged" max="10" min="0" class="form-control" hidden="hidden" />
}
else if (ratingCategory.RatingCategoryType == "Yes/No")
{
    bool val =false;
    if (RatingValue != null)
    {
         val = bool.Parse(RatingValue);
    }
        <Switch @bind-Value="val" @oninput="OnRatingValueChanged"/>
        <input type="checkbox" @bind-value="@RatingValue" @oninput="OnRatingValueChanged" class="form-check" title="" hidden="hidden"/>
}



@code {
    private RangeInput<int?> rangeInput = default!;
    [Parameter] public string RatingValue { get; set; }
    [Parameter] public EventCallback<string> RatingValueChanged { get; set; }
    private Task OnRatingValueChanged(ChangeEventArgs e)
    {
        RatingValue = e.Value.ToString();
        return RatingValueChanged.InvokeAsync(RatingValue);
    }


    [Parameter] public int RatingCategoryId { get; set; }
    [Parameter] public EventCallback<int> RatingCategoryIdChanged { get; set; }
    private Task OnRatingCategoryIdChanged(ChangeEventArgs e)
    {
        RatingCategoryId = int.Parse(e.Value.ToString());
        ratingCategory = ratingCategories.Where(t => t.RatingCategoryId == RatingCategoryId).FirstOrDefault();
        appstate.ratingcategoryid = RatingCategoryId;
        return RatingCategoryIdChanged.InvokeAsync((int)RatingCategoryId);
    }

    public RatingCategory ratingCategory { get; set; } = new();
    public IList<RatingCategory> ratingCategories { get { return DB3.RatingCategory.ToList(); } set { } }

}
