@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext3 DB3
@using Terprint.Web.Models
@using Terprint.common
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject common.AppState appstate

@{

}

<div class="mb-3">
    <label for="ratingCategoryID" class="form-label">Rating Type:</label>
    <InputSelect id="ratingCategoryID" class="m-0 form-control" @bind-Value="@ratingCategory.RatingCategoryId" @oninput="OnRatingCategoryIdChanged">
        <option selected disabled>Select Category</option>
        @foreach (var b in ratingCategories)
        {

            <option value=@b.RatingCategoryId @onselect="() => ratingCategory.RatingCategoryId = b.RatingCategoryId">@b.CategoryName</option>
        }

    </InputSelect>
</div>
@if (RatingCategoryId == 1)
{
    <input type="number" @bind-value="@RatingValue" @oninput="OnRatingValueChanged" max="10" min="0" class="form-control" />

}
else if (RatingCategoryId == 3 || RatingCategoryId == 2)
{
    <input type="checkbox" @bind-value="@RatingValue" @oninput="OnRatingValueChanged" class="form-check" title="" />

}



@code {
    [Parameter] public string RatingValue { get; set; }
    [Parameter] public EventCallback<string> RatingValueChanged { get; set; }
    private Task OnRatingValueChanged(ChangeEventArgs e)
    {
        RatingValue =  e.Value.ToString();
        return RatingValueChanged.InvokeAsync(RatingValue);
    }
    

    [Parameter] public int RatingCategoryId { get; set; }
    [Parameter] public EventCallback<int> RatingCategoryIdChanged { get; set; }
    private Task OnRatingCategoryIdChanged(ChangeEventArgs e)
    {
        RatingCategoryId = int.Parse(e.Value.ToString());
        appstate.ratingcategoryid = RatingCategoryId;
        return RatingCategoryIdChanged.InvokeAsync((int)RatingCategoryId);
    }

    public RatingCategory ratingCategory { get; set; } = new();
    public IList<RatingCategory> ratingCategories { get { return DB3.RatingCategory.ToList(); } set { } }

}
