@inject Terprint.Web.Data.TerprintWebContext DB
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (isAuthenticated)
{
    foreach(Models.Strain s in  DB.Strain
    .OrderBy(t => t.StrainName)
    
    .ToList())
    {
        <div class="badge"><h6><a href="StrainProfile?strain=@System.Web.HttpUtility.UrlEncode(s.StrainName)">@s.StrainName</a></h6> ,</div>
    }
}
else
{
    <p>There are @strainCount strains in the database.</p>
    <p><a href="/Account/Login">Log in</a> to view the list.</p>
}

@code {
    private bool isAuthenticated;
    private int strainCount;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

        if (!isAuthenticated)
        {
            strainCount = DB.Strain.Count();
        }
    }
}

