@inject Terprint.Web.Data.TerprintWebContext DB

@{
    foreach(Models.Strain s in  DB.Strain
    .OrderBy(t => t.StrainName)
    
    .ToList())
    {
        <div class="badge"> <a href="StrainProfile?strain=@s.StrainName">@s.StrainName</a>,</div>
    }
}
@code {
    
}

