@inject Terprint.Web.Data.TerprintWebContext DB

@{
    common.Components c = new common.Components();
    List<string> terpswithvalues = DB.TerpeneValues
    .Where(t => t.Value > 0)
    .OrderBy(t => t.TerpeneName)
    .Select(t => t.TerpeneName)
    .Distinct()
    .ToList();

    foreach (string s in c.GetTerpeneList())
    {
        string color = c.GetTerpeneColor(s);
        <div class="badge" style="background-color: @color"> <h6><a href="/TerpeneProfile?terpene=@s">@s</a></h6></div>
    }
}
@code {

}