@inject Terprint.Web.Data.TerprintWebContext DB
@* 
@{
    foreach (Models.Rating s in DB.Rating
            .OrderByDescending(t => t.created)
            .Select(t => new { RatingQuestion = DB.RatingCategory.Where(t1 => t1.RatingCategoryId == t.RatingCategoryID).FirstOrDefault().CategoryName, Rating)}

    .ToList())
    {
        <div class="badge"> <a href="RatingDetail?ratingid=@s.RatingId">@s.StrainName</a>,</div>
    }
}
@code {

}
 *@
