@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject Terprint.Web.Data.TerprintWebContext DB

@{
    foreach (Models.Batch s in DB.Batch
    .OrderByDescending(t => t.Date)

    .ToList())
    {
        <div class="badge"><h6><a href="BatchProfile?batch=@s.Name"> @s.Name</a></h6>,</div>
    }
}
@code {

}
