@inject Terprint.Web.Data.TerprintWebContext DB

@inject NavigationManager nm

@{
   //  var results = from t in DB.TerpeneValues
   //                group t.TerpeneName by t.TerpeneName into g
   //                select new { TerpeneName = g.Key, Count = g.Count() };
   //  common.Components c = new common.Components();
   //  List<string> terpswithvalues = DB.TerpeneValues
   //  .Where(t => t.Value > 0)
   //  // .Select(t => new {t.TerpeneName, t.Value})
   // // .Count(t => t.Value)
   //  .GroupBy(t=>t.TerpeneName)s
   //  .Distinct()
    //  .ToList();
    common.Components c = new common.Components();

    foreach (var s in c.GetTerpeneList())
    {
        string color = c.GetTerpeneColor(s);
        <div class="badge" style="background:@color" onclick="location.href='/TerpeneProfile?terpene=@s'");">
            <h6 style="mix-blend-mode:difference;color:white" onclick="location.href='/TerpeneProfile?terpene=@s'">
                @s 
            </h6>
        </div>
    }
}
@code {

}