@inject Terprint.Web.Data.TerprintWebContext DB

@{
    foreach (Models.Grower s in DB.Grower
    .OrderBy(t => t.Name)

    .ToList())
    {
        <div class="badge"> <h6><a href="GrowerProfile?grower=@System.Web.HttpUtility.UrlEncode(s.Name) ">@s.Name</a></h6>,</div>
    }
}
@code {

}