@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject Terprint.Web.Data.TerprintWebContext DB
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (isAuthenticated)
{
     
    foreach (Models.Batch s in DB.Batch
    .OrderByDescending(t => t.Date)

    .ToList())
    {
        <div class="badge"><h6><a href="BatchProfile?batch=@s.Name"> @s.Name</a></h6>,</div>
    }
}
else
    {
        <p>There are @batchCount batches in the database.</p>
        <p><a href="/Account/Login">Log in</a> to view the list.</p>
    }

@code {
    private bool isAuthenticated;
    private int batchCount;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

        if (!isAuthenticated)
        {
            batchCount = DB.Batch.Count();
        }
    }
}
