@inject Terprint.Web.Data.TerprintWebContext DB
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient Http
@inject NavigationManager NavManager
@inject common.AppState.StateContainer.Strain asstrain
@inject common.AppState.StateContainer.Batch asbatch
<h3>Ratings Mine</h3>

<AuthorizeView>
    <NotAuthorized>
        Please <a href="/account/login">login</a>
    </NotAuthorized>
    <Authorized>
        <RangeInput @ref="rangeInput"
                    TValue="int?"
                    @bind-Value="amount"
                    Min="0"
                    Max="10" />
        @amount
                    @{
            userid = context.User.Identity?.Name;
            ratings = DB.Rating.Where(t => t.createdby == userid).ToList();
        }
        <Paginator State="@pagination" />
        <QuickGrid Class="table" Items="DB.Rating" Pagination="@pagination">
            <PropertyColumn Property="Rating => DB.RatingCategory.Where(t=>t.RatingCategoryId== Rating.RatingCategoryID).FirstOrDefault().CategoryName" />
            <PropertyColumn Property="Rating => Rating.Value" />
            <PropertyColumn Property="Rating => asbatch.Batches.Where(t=>t.BatchId== Rating.BatchID).FirstOrDefault().Name" />
            <PropertyColumn Property="Rating => asstrain.Strains.Where(t=>t.StrainId==asbatch.Batches.Where(t=>t.BatchId== Rating.BatchID).FirstOrDefault().StrainID ).FirstOrDefault().StrainName" />
            <PropertyColumn Property="Rating => Rating.created.ToShortDateString()" />

        </QuickGrid>
    </Authorized>
</AuthorizeView>
@code {
    private RangeInput<int?> rangeInput = default!;
    private int? amount = 7;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    GridItemsProvider<Rating>? dataProvider;
    int numResults;
    public string userid;
    List<Rating> ratings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // dataProvider = async req =>
        // {
        //     var url = NavManager.GetUriWithQueryParameters(
        //         "https://api.fda.gov/food/enforcement.json",
        //         new Dictionary<string, object?>
        //             {
        //         { "skip", req.StartIndex },
        //         { "limit", req.Count },
        //             });

        //     // var response = await Http.GetFromJsonAsync<FoodRecallQueryResult>(
        //     // url, req.CancellationToken);

        //     return GridItemsProviderResult.From(
        //         items: response!.Results,
        //         totalItemCount: response!.Meta.Results.Total);
        // };

        // numResults = (await Http.GetFromJsonAsync<FoodRecallQueryResult>(
        //     "https://api.fda.gov/food/enforcement.json"))!.Meta.Results.Total;
    }
}
