@page "/thcvaluec"
@inject Terprint.Web.Data.TerprintWebContext DB
@inject NavigationManager nm


@{
    if (thcvalues != null)
    {  
        double total = 0;
        foreach (var r in thcvalues)
        {
            if ( r.Percent > 0)
            {
                <Card> <Badge Class="text-start" Color="BadgeColor.Light"><h5> @r.Analyte - @r.Percent% </h5></Badge> </Card>
                total = total + r.Percent;
            }

        }
        <Card> <Badge Class="text-start" Color="BadgeColor.Success"><h5> Total @Math.Round(total, 2)%</h5></Badge>  </Card>

    }
}

@code { 

    [Parameter]
    public List<THCValue> thcvalues { get; set; }
    [Parameter] public EventCallback<List<THCValue>> thcvaluesChanged { get; set; }
    private Task OnthcvaluesChanged(ChangeEventArgs e)
    {
        thcvalues = (List<THCValue> )e.Value ;
        //batchin = batch;
        return thcvaluesChanged.InvokeAsync(thcvalues);
    }
}
