@page "/thcvaluec"
@inject Terprint.Web.Data.TerprintWebContext DB
@inject NavigationManager nm


@{
    if (batchin != null)
    { 
        var results = DB.THCValues
        .Where(
               t => t.BatchID ==
               DB.Batch
               .Where(t1 => t1.Name == batchin)
               .FirstOrDefault().BatchId)
               //.Where(t=>t.Result>0)
               .OrderBy(t => t.THCValueId)
               .AsQueryable();
        double total = 0;
        foreach (var r in results)
        {
            if (double.Parse(r.Percent) > 0)
            {
                <Card> <Badge Class="text-start" Color="BadgeColor.Light"><h5> @r.Analyte - @r.Percent% </h5></Badge> </Card>
                total = total + double.Parse(r.Percent);
            }

        }
        <Card> <Badge Class="text-start" Color="BadgeColor.Success"><h5> Total @Math.Round(total, 2)%</h5></Badge>  </Card>

    }
}

@code {

    [Parameter]
    public string? batchin { get; set; }
    [Parameter] public EventCallback<string> batchinChanged { get; set; }
    private Task OnbatchinChanged(ChangeEventArgs e)
    {
        batchin = e.Value.ToString();
        //batchin = batch;
        return batchinChanged.InvokeAsync(batchin);
    }
}
