@page "/terpenevalues/create"
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@using Terprint.Web.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>TerpeneValue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TerpeneValue" OnValidSubmit="AddTerpeneValue" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="value" class="form-label">Value:</label> 
                <InputNumber id="value" @bind-Value="TerpeneValue.Value" class="form-control" /> 
                <ValidationMessage For="() => TerpeneValue.Value" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="terpenename" class="form-label">Terpene Name:</label> 
                <InputText id="terpenename" @bind-Value="TerpeneValue.TerpeneName" class="form-control" /> 
                <ValidationMessage For="() => TerpeneValue.TerpeneName" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="batch" class="form-label">Batch:</label>

                <InputSelect id="batch" class="m-0 form-control edit-active" @bind-Value="TerpeneValue.BatchID">
                    <option selected disabled>Select Batch</option>
                    @foreach (var b in Batches)
                    {
                        <option value=@b.BatchId @onselect="() => TerpeneValue.BatchID = b.BatchId">@DB2.Strain.Where(t => t.StrainId == @b.StrainID).FirstOrDefault().StrainName  @b.Date  @b.Name</option>
                    }

                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="scale" class="form-label">Scale:</label> 
                <InputText id="scale" @bind-Value="TerpeneValue.Scale" class="form-control" /> 
                <ValidationMessage For="() => TerpeneValue.Scale" class="text-danger" /> 
            </div>         
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/terpenevalues">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public TerpeneValue TerpeneValue { get; set; } = new();

    public IList<Batch> Batches
    {
        get
        {
            batch = DB2.Batch.ToList();
            return batch;
        }
        set { batch = value; }
    }

    private IList<Batch> batch { get; set; }

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddTerpeneValue()
    {
        DB.TerpeneValues.Add(TerpeneValue);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/terpenevalues");
    }
}
