@attribute [Authorize]
@page "/terpenevalues/paste"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@inject NavigationManager NavigationManager
@inject common.AppState.StateContainer.TerpeneValue asterpenevalues
@using Terprint.Web.Models
<h3>Paste Terpene Values</h3>

<p>Please adhere to the format "[terpene Name][ ][result mg/g][ ][result percent]"</p>
<EditForm method="post" Model="@tv" OnValidSubmit="AddValues" FormName="create" Enhance>

    <InputSelect id="inputformatc" class="m-0 form-control" @bind-Value="@inputformat">
        <option value="1">1 [terpene Name][ ][result mg/g][ ][result percent] </option>
        <option value="2">2 [terpene Name][ ][LOD][ ][result mg/g][ ][result percent]</option>
    </InputSelect>
    <div class="form-group">
        @{
            // terpeneValues = DB2.TerpeneValues.ToList();

        }
        <Terprint.Web.Components.ChooserBatch></Terprint.Web.Components.ChooserBatch>

        <label class="control-label">Terpene Values</label>
        <InputTextArea id="tva" @bind-Value="@tv" class="form-control" rows="10">@string.Join("\n ", DB2.TerpeneValues.Select(t => t.TerpeneName).ToList())</InputTextArea>
    </div>
    <button type="submit" class="btn btn-primary">Add Values</button>
</EditForm>
<AuthorizeView>
    <Authorized>
        @{
            userid = context.User.Identity?.Name;
        }
    </Authorized>
</AuthorizeView>
@code {
    public string userid { get; set; }

    [SupplyParameterFromForm]
    public string inputformat { get; set; } = new("");
    [SupplyParameterFromForm]
    public TerpeneValue TerpeneValue { get; set; } = new();
    [SupplyParameterFromForm]
    public IList<TerpeneValue> terpeneValues { get; set; } = new List<TerpeneValue>();
    [SupplyParameterFromForm]
    public string tv { get; set; } = new("");

    public IList<Batch> Batches
    {
        get
        {
            batch = DB2.Batch.ToList();
            return batch;
        }
        set { batch = value; }
    }

    private IList<Batch> batch { get; set; }

    public async Task AddValues()
    {
        //Batch.Grower = Grower;
        //DB2.DisposeAsync();

        ParseValues();
        await DB.TerpeneValues.AddRangeAsync(terpeneValues);
        await DB.SaveChangesAsync();
        asterpenevalues.TerpeneValues.AddRange(terpeneValues);
        NavigationManager.NavigateTo("/thcvalues/paste");
    }
    private void ParseValues()
    {
        var longlist = tv;
        var result = tv.Split(new[] { '\n' });
        terpeneValues = new List<TerpeneValue>();
        foreach (string st in result)
        {
            string s = st;
            if (s.Length > 0)
            {
                if(s.Contains("\t"))
                {
                    s = st.Replace("/t", " ");
                }
                TerpeneValue terpenevalue = new TerpeneValue();
                if (inputformat == "1")
                {
                    int index = s.IndexOf(s.FirstOrDefault(char.IsNumber));
                    string name = s.Substring(0, index).Trim();
                    string firstnum = s.Substring(index, s.Length - index).Split(" ")[0];
                    string secondnum = s.Substring(index, s.Length - index).Split(" ")[1].Replace("%", "");
                    terpenevalue = new TerpeneValue() { TerpeneName = name, Value = Convert.ToDouble(secondnum), BatchID = TerpeneValue.BatchID, createdby = userid };

                }
                else if (inputformat == "2")
                {
                    int index = s.IndexOf(s.FirstOrDefault(char.IsNumber));
                    string name = s.Substring(0, index).Trim();
                    string firstnum = s.Substring(index, s.Length - index).Split(" ")[0];
                    string secondnum = s.Substring(index, s.Length - index).Split(" ")[1].Replace("%", "");
                    string thirdnum = s.Substring(index, s.Length - index).Split(" ")[2].Replace("%", "");
                    terpenevalue = new TerpeneValue() { 
                        TerpeneName = name, 
                            Value = Convert.ToDouble(thirdnum),
                        BatchID = TerpeneValue.BatchID, 
                        createdby = userid };
                }
                terpeneValues.Add(terpenevalue);

            }
        }

    }
}
