@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<div class="container-fluid">
    <main>

        @Body
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Savitas Strategic Software Solutions, LLC - <a asp-area="" href="/privacy" asp-page="/privacy">Privacy</a> 
    </div>
</footer>

