

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/"></a> </li>
                <li class="nav-item"><a class="nav-link" href="/">Home </a> </li>
                <li class="nav-item"><a class="nav-link" href="#"> About </a></li>
                <li class="nav-item"><a class="nav-link" href="/List"> List </a></li>
                <li class="nav-item"><a class="nav-link" href="/Table"> Matrix </a></li>
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Strains menu  </a>
                    <ul class="dropdown-menu">
                        @{
                            List<string> GetStrains()
                            {
                                // e.g. Put a database call here

                                return Terprint.common.Strains.GetStrains();

                            }
                            List<string> GetBatches(string strain)
                            {
                                // e.g. Put a database call here

                                return Terprint.common.Strains.GetBatches(strain);

                            }
                        }
                        @foreach (var strain in GetStrains())
                        {
                            <li>
                                <a class="dropdown-item" href="#"> @strain &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    @foreach (var batch in GetBatches(strain))
                                    {
                                        string urlencoded = System.Web.HttpUtility.UrlEncode(@strain + "|" + @batch);
                                        <li><a class="dropdown-item" href="/Table?size=Medium&matrix=1&strain=@urlencoded">@batch</a></li>
                                    }

                                </ul>
                            </li>
                        }

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Admin </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Growers » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/growers">View</a></li>
                                <li><a class="dropdown-item" href="/growers/create">Enter Grower</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Batches » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/batches">View</a></li>
                                <li><a class="dropdown-item" href="/batches/create">Enter Batch</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Strains » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/strains">View</a></li>
                                <li><a class="dropdown-item" href="/strains/create">Enter Strain</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Terpene Values » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/terpenevalues">View</a></li>
                                <li><a class="dropdown-item" href="/terpenevalues/create">Enter Values</a></li>
                                <li><a class="dropdown-item" href="/terpenevalues/paste">Paste Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">THC Values » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/thcvalues">View</a></li>
                                <li><a class="dropdown-item" href="/thcvalues/create">Enter Values</a></li>
                                <li><a class="dropdown-item" href="/thcvalues/paste">Paste Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Ratings » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/ratings">View</a></li>
                                <li><a class="dropdown-item" href="/ratings/create">Enter Values</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Rating Categories » </a>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li><a class="dropdown-item" href="/ratingcategories">View</a></li>
                                <li><a class="dropdown-item" href="/ratingcategories/create">Enter Values</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- navbar-collapse.// -->
    </div>
    <!-- container-fluid.// -->
</nav>