@page "/strains/details"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Strain</h4>
    <hr />
    @if (strain is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StrainName</dt>
            <dd class="col-sm-10">@strain.StrainName</dd>
            <dt class="col-sm-2">StrainDescription</dt>
            <dd class="col-sm-10">@strain.StrainDescription</dd>
        </dl>
        <div>
            <a href="@($"/strains/edit?strainid={strain.StrainId}")">Edit</a> |
            <a href="@($"/strains")">Back to List</a>
        </div>
    }
</div>

@code {
    Strain? strain;

    [SupplyParameterFromQuery]
    public int StrainId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        strain = await DB.Strain.FirstOrDefaultAsync(m => m.StrainId == StrainId);

        if (strain is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
