@attribute [Authorize]
@page "/Strains/edit"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Strain</h4>
<hr />
@if (Strain is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Strain" OnValidSubmit="UpdateStrain" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Strain.StrainId" value="@Strain.StrainId" />
                <div class="mb-3">
                    <label for="strainname" class="form-label">StrainName:</label>
                    <InputText id="strainname" @bind-Value="Strain.StrainName" class="form-control" />
                    <ValidationMessage For="() => Strain.StrainName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="straindescription" class="form-label">StrainDescription:</label>
                    <InputText id="straindescription" @bind-Value="Strain.StrainDescription" class="form-control" />
                    <ValidationMessage For="() => Strain.StrainDescription" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/strains">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int StrainId { get; set; }

    [SupplyParameterFromForm]
    public Strain? Strain { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Strain ??= await DB.Strain.FirstOrDefaultAsync(m => m.StrainId == StrainId);

        if (Strain is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateStrain()
    {
        DB.Attach(Strain!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StrainExists(Strain!.StrainId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/strains");
    }

    bool StrainExists(int strainid)
    {
        return DB.Strain.Any(e => e.StrainId == strainid);
    }
}
