@page "/strains"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@inject common.AppState.StateContainer.Strain asStrain
@using Terprint.Web.Models
@rendermode InteractiveServer

<PageTitle>Strains</PageTitle>

<h1>Strains</h1>

<p>
    <a href="strains/create">Create New</a>
</p>
 

<Grid TItem="Strain"
      Class="table table-hover table-bordered table-striped"
      DataProvider="StrainDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="20"
      AllowSorting="true"
      AllowSelection="true" 
      Responsive="true">
    <GridColumns>
        <GridColumn TItem="Strain" HeaderText="StrainName" PropertyName="StrainName" SortKeySelector="item => item.StrainName">
            @context.StrainName
        </GridColumn>
        <GridColumn TItem="Strain" HeaderText="StrainDescription" PropertyName="StrainDescription" SortKeySelector="item => item.StrainDescription">
            @context.StrainDescription
        </GridColumn>
        <GridColumn TItem="Strain" HeaderText="created" PropertyName="created" SortKeySelector="item => item.created">
            @context.created
        </GridColumn>
        <GridColumn TItem="Strain" HeaderText="createdby" PropertyName="createdby" SortKeySelector="item => item.createdby">
            @context.createdby
        </GridColumn>
         
    </GridColumns>

</Grid>
@code{

    private IEnumerable<Strain> Strains;
    private HashSet<Strain> selectedStrains = new();

    protected override void OnInitialized()
    {
        Strains = asStrain.Strains.OrderByDescending(t => t.created).ToList();
    }

    private async Task<GridDataProviderResult<Strain>> StrainDataProvider(GridDataProviderRequest<Strain> request)
    {
        return await Task.FromResult(request.ApplyTo(Strains));
    }

}