@page "/Growers/edit"
@attribute [Authorize]
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@inject common.AppState.StateContainer.Grower asgrower
@inject Terprint.Web.Services.ICacheService CacheService

<PageTitle>Edit Growers</PageTitle>

<h1>Edit</h1>

<h4>Grower</h4>
<hr />
@if (Grower is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Grower" OnValidSubmit="UpdateGrower" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Grower.GrowerId" value="@Grower.GrowerId" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Grower.Name" class="form-control" />
                    <ValidationMessage For="() => Grower.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/growers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int GrowerId { get; set; }

    [SupplyParameterFromForm]
    public Grower? Grower { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Grower ??= await DB.Grower.FirstOrDefaultAsync(m => m.GrowerId == GrowerId);

        if (Grower is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateGrower()
    {
        DB.Attach(Grower!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
            await CacheService.RemoveAsync("growers:all");
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GrowerExists(Grower!.GrowerId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/growers");
    }

    bool GrowerExists(int growerid)
    {
        return DB.Grower.Any(e => e.GrowerId == growerid);
    }
}
