@attribute [Authorize]
@page "/batches/create"
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@using Microsoft.EntityFrameworkCore
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Create Batch</PageTitle>
 

<h4>Batch</h4>
<hr />
<div class="row">
    <div class="col-12">
        <EditForm Context="editContext" Model="@Batch" method="post" OnValidSubmit="AddBatch" FormName="createbatch"   Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Batch.Name" class="form-control" />
                <ValidationMessage For="() => Batch.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Type:</label>
                <InputText id="type" @bind-Value="Batch.Type" class="form-control" />
                <ValidationMessage For="() => Batch.Type" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label>
                <InputDate id="date" @bind-Value="Batch.Date" class="form-control" />
                <ValidationMessage For="() => Batch.Date" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="grower" class="form-label">Grower:</label>

                <InputSelect id="grower" class="m-0 form-control edit-active" @bind-Value="Batch.GrowerID">
                    <option selected disabled>Select Grower</option>
                    @foreach (var g in Growers)
                    {
                        <option value=@g.GrowerId @onselect="() => Batch.GrowerID = g.GrowerId">@g.Name</option>
                    }

                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="strain" class="form-label">Strain:</label>

                <InputSelect id="strain" class="m-0 form-control edit-active" @bind-Value="Batch.StrainID">
                    <option selected disabled>Select Strain</option>
                    @foreach (var s in Strains.OrderBy(t=>t.StrainName))
                    {
                        <option value=@s.StrainId @onselect="() => Batch.StrainID = s.StrainId">@s.StrainName</option>
                    }

                </InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/batches">Back to List</a>
</div>
<AuthorizeView>
    <Authorized>
        @{
            Batch.createdby = context.User.Identity?.Name;
        }
    </Authorized>
</AuthorizeView>
@code {

    private EditContext? editContext;
    protected override void OnInitialized()
    {
        Batch ??= new();
        editContext = new(Batch);
    }

    public Grower Grower { get; set; } = new();
    [SupplyParameterFromForm]
    public Batch Batch { get; set; } = new();

    public IList<Grower> Growers
    {
        get
        {
            grower = DB2.Grower.ToList();
            return grower;
        }
        set { grower = value; }
    }
    public IList<Strain> Strains
    {
        get
        {
            strain = DB2.Strain.ToList();
            return strain;
        }
        set { strain = value; }
    }

    private IList<Grower> grower { get; set; }
    private IList<Strain> strain { get; set; }
    private Grower g { get; set; } = new();


    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddBatch()
    {
        //Batch.Grower = Grower;
        //DB2.DisposeAsync();
        Batch.Name = Batch.Name.Trim();
        //Batch.createdby = User.Identity?.Name;
        DB.Batch.AddAsync(Batch);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/batches");
    }
}
