@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Ratings

    <a href="/ratingscomponent">Ratings</a>"
    <p><a href="/test?size=small&matrix=5&batch=PRPFLW100054-2405-28099">New Table</a>
   <a href="/list2">New List</a>  <a href="/list?size=micro&matrix=2">List 1</a>  <a href="/table?size=Medium&matrix=1">Matrix 1</a>  <a href="/Table?size=Medium&matrix=2">Matrix 2</a>  <a href="/Table?size=Medium&matrix=3">Matrix 3</a></p>

</div>
