@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p><a href="/test?size=micro&matrix=2">New Table</a>  <a href="/list?size=micro&matrix=2">List 1</a>  <a href="/table?size=Medium&matrix=1">Matrix 1</a>  <a href="/Table?size=Medium&matrix=2">Matrix 2</a>  <a href="/Table?size=Medium&matrix=3">Matrix 3</a></p>

</div>
