@page "/"
@{
    string title = common.config.appname + " - Home";
}

<PageTitle >@title</PageTitle>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body text-center">
                    <div class="float-start"> <p class="display-5">Terptastic</p> </div>
                    <div class=" float-end align-text-bottom"><p class="display-8"><i>helping you know whats in it</i></p></div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12  text-center">
            <div class="card">
                <div class="card-header text-center">
                    <p class="display-6"> Terpenes</p>
                </div>
                <div class="card-body">
                    <ListTerpenes></ListTerpenes>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <p class="display-6"> Strains</p>
                </div>
                <div class="card-body">
                    <ListStrains></ListStrains>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <p class="display-6"> Growers</p>
                </div>
                <div class="card-body">
                    <ListGrowers></ListGrowers>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <p class="display-6"> Ratings</p>
                </div>
                <div class="card-body text-center">
                    <ListRatings></ListRatings>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <p class="display-6"> Batches</p>
                </div>
                <div class="card-body text-center">
                    <ListBatch></ListBatch>
                </div>
            </div>

        </div>
    </div>
</div>