@page "/"

<PageTitle>@common.config.appname - Home</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body text-center">
                    <p class="display-6">Welcome to Terptastic</p>
                    <p class="display-8"><i>helping you know cannabis</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12  text-center">
            <div class="card">
                <div class="card-header text-center">
                    <a href="/ratingscomponent">Terpenes</a>
                </div>
                <div class="card-body">
                    <ListTerpenes></ListTerpenes>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <a href="/ratingscomponent">Strains</a>
                </div>
                <div class="card-body">
                    <ListStrains></ListStrains>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-header text-center">
                    <a href="/">Batches</a>
                </div>
                <div class="card-body">
                    <ListBatch></ListBatch>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <div class="card">
                <div class="card-body text-center">
                </div>
            </div>
        </div>
    </div>
</div>
