@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext3 DB3
@using Terprint.Web.Models
@using Terprint.common
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@{

}

<div class="mb-3">
    <label for="ratingCategoryID" class="form-label">Rating Type:</label>
    <InputSelect id="ratingCategoryID" class="m-0 form-control" @bind-Value="@ratingCategory.RatingCategoryId" @oninput="OnRatingCategoryIdChanged">
        <option selected disabled>Select Category</option>
        @foreach (var b in ratingCategories)
        {

            <option value=@b.RatingCategoryId @onselect="() => ratingCategory.RatingCategoryId = b.RatingCategoryId">@b.CategoryName</option>
        }

    </InputSelect>
</div>
@code {
    [Parameter] public int RatingCategoryId { get; set; }
    [Parameter] public EventCallback<int> RatingCategoryIdChanged { get; set; }
    private Task OnRatingCategoryIdChanged(ChangeEventArgs e)
    {
        RatingCategoryId = int.Parse(e.Value.ToString());
        return RatingCategoryIdChanged.InvokeAsync((int)RatingCategoryId);
    }

    public RatingCategory ratingCategory { get; set; } = new();
    public IList<RatingCategory> ratingCategories { get { return DB3.RatingCategory.ToList(); } set { } }

}
