@page "/ratingslist"

@{

    string title = @common.config.appname + " - Ratings List";
}
<PageTitle>@title</PageTitle>
<div class="container">
    <h3>Ratings</h3>
    <ListRatings></ListRatings>
</div>
@code {


}
