@page "/table"
@rendermode InteractiveServer
@inject Terprint.components.components c;

@code {
    // Terprint.components.components c = new components.components();
   // components.components c1 = new components.components();
   
}
  @{
    c.loadData();
    var optionssize = c.OptionsSize;
    var optionsmatrix = c.OptionsMatrix;
    var size = c.OptionsSize;
}


<form asp-route-matrix="@c.matrix" asp-route-strain="@c.strain" method="get">
</form>

    <div class="row">
        <div class="col-3">
            <label for="size" class="form-label">Matrix Size</label>

        <select name="size" asp-for="size" asp-items="optionssize" class="form-select"></select>
        </div>
        <div class="col-3">
            <label for="matrix" class="form-label">Matrix Number</label>
            <select name="matrix" asp-for="c.matrix" asp-items="c.OptionsMatrix" asp-asp-for="c.strainModel.matrix" class="form-select"></select>
        </div>
        <div class="col-4">
            <label for="strain" class="form-label">Strain/Batch</label>
            <select name="strain" asp-for="strain" asp-items="c.Options" asp-asp-for="c.strainModel.strain" class="form-select"></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Click</button>
        </div>
    </div>

