name: Trigger auto deployment for webfrontend

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/webfrontend-AutoDeployTrigger-7c3b56fe-729d-429c-abae-1e62c6bf9616.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEBFRONTEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEBFRONTEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEBFRONTEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          registryUrl: acr3wqr7jkqqkows.azurecr.io
          registryUsername: ${{ secrets.WEBFRONTEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEBFRONTEND_REGISTRY_PASSWORD }}
          containerAppName: webfrontend
          resourceGroup: rg-dev-terprint
          imageToBuild: acr3wqr7jkqqkows.azurecr.io/webfrontend:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


