@attribute [Authorize]
@page "/thcvalues/create"
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models
@inject NavigationManager NavigationManager
@inject ChooserBatch ChooserBatch

<PageTitle>Create THCValue</PageTitle>

<h1>Create</h1>

<h4>THCValue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="THCValue" OnValidSubmit="AddTHCValue" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <ChooserBatch></ChooserBatch>
            <div class="mb-3">
                <label for="analyte" class="form-label">Analyte:</label> 
                <InputText id="analyte" @bind-Value="THCValue.Analyte" class="form-control" /> 
                <ValidationMessage For="() => THCValue.Analyte" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dilution" class="form-label">Dilution:</label> 
                <InputText id="dilution" @bind-Value="THCValue.Dilution" class="form-control" /> 
                <ValidationMessage For="() => THCValue.Dilution" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lod" class="form-label">LOD:</label> 
                <InputText id="lod" @bind-Value="THCValue.LOD" class="form-control" /> 
                <ValidationMessage For="() => THCValue.LOD" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="loq" class="form-label">LOQ:</label> 
                <InputText id="loq" @bind-Value="THCValue.LOQ" class="form-control" /> 
                <ValidationMessage For="() => THCValue.LOQ" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="result" class="form-label">Result:</label> 
                <InputText id="result" @bind-Value="THCValue.Result" class="form-control" /> 
                <ValidationMessage For="() => THCValue.Result" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="percent" class="form-label">Percent:</label> 
                <InputNumber id="percent" @bind-Value="THCValue.Percent" class="form-control" /> 
                <ValidationMessage For="() => THCValue.Percent" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/thcvalues">Back to List</a>
</div>

<AuthorizeView>
    <Authorized>
        @{
            THCValue.createdby = context.User.Identity?.Name;
        }
    </Authorized>
</AuthorizeView>
@code {

    [SupplyParameterFromForm]
    public THCValue THCValue { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddTHCValue()
    {
        DB.THCValues.Add(THCValue);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/thcvalues");
    }
}
