@page "/thcvalues"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@using Terprint.Web.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="thcvalues/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.THCValues">
    <PropertyColumn Property="thcvalue => thcvalue.BatchID" />
    <PropertyColumn Property="thcvalue => thcvalue.Name" />
    <PropertyColumn Property="thcvalue => thcvalue.Value" />
    <PropertyColumn Property="thcvalue => thcvalue.Scale" />

    <TemplateColumn Context="thcvalue">
        <a href="@($"thcvalues/edit?thcvalueid={thcvalue.THCValueId}")">Edit</a> |
        <a href="@($"thcvalues/details?thcvalueid={thcvalue.THCValueId}")">Details</a> |
        <a href="@($"thcvalues/delete?thcvalueid={thcvalue.THCValueId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
