@page "/thcvalues/paste"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@inject NavigationManager NavigationManager
@inject common.AppState appstate
@using Terprint.Web.Models
<h3>Paste THC Values</h3>

<EditForm method="post" Model="@tv" OnValidSubmit="AddValues" FormName="create" Enhance>
    <div class="form-group">
        @{
            // terpeneValues = DB2.TerpeneValues.ToList();

        }
        <p>
            Please choose the input format
        </p>
        <InputSelect id="inputformatc" class="m-0 form-control" @bind-Value="@inputformat">
            <option value="1">1 [Analyte][ ][Dilution (1:n)][ ][LOD (%)][ ][LOQ (%)][ ][Result (mg/g)]{ ][(%)] </option>
            <option value="2">2 [Analyte][ ][LOD (MG/G)][ ][RESULT (MG/G)][ ][RESULT % (TOTAL)]</option>
        </InputSelect>
        <Terprint.Web.Components.ChooserBatch></Terprint.Web.Components.ChooserBatch>

        <label class="control-label">Terpene Values</label>
        <InputTextArea id="tva" @bind-Value="@tv" class="form-control" rows="10">@string.Join("\n ", DB2.THCValues.Select(t => t.Analyte).ToList())</InputTextArea>
    </div>
    <button type="submit" class="btn btn-primary">Add Values</button>
</EditForm>

<AuthorizeView>
    <Authorized>
        @{
            userid = context.User.Identity?.Name;
        }
    </Authorized>
</AuthorizeView>
@code {
    public string userid { get; set; }
    [SupplyParameterFromForm]
    public string inputformat { get; set; } = new("");

    [SupplyParameterFromForm]
    public THCValue thcvalue { get; set; } = new();
    [SupplyParameterFromForm]
    public IList<THCValue> THCValues { get; set; } = new List<THCValue>();
    [SupplyParameterFromForm]
    public string tv { get; set; } = new("");

    [SupplyParameterFromForm]
    public TerpeneValue TerpeneValue { get; set; } = new();

    public IList<Batch> Batches
    {
        get
        {
            batch = DB2.Batch.ToList();
            return batch;
        }
        set { batch = value; }
    }

    private IList<Batch> batch { get; set; }

    public async Task AddValues()
    {
        //Batch.Grower = Grower;
        //DB2.DisposeAsync();

        ParseValues();
        await DB.THCValues.AddRangeAsync(THCValues);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/thcvalues");
    }
    private void ParseValues()
    {
        var longlist = tv;
        var result = tv.Split(new[] { '\n' });
        THCValues = new List<THCValue>();
        foreach (string s in result)
        {
            if (s.Length > 0)
            {
                string sl = s;
                int index = 0;
                if (s.Contains("Delta-9") || s.Contains("d9-THC"))
                {
                    sl = s.Replace("Delta-9", "Delta-N");
                    sl = s.Replace("d9-THC", "dNine-THC");
                    index = sl.IndexOf(sl.FirstOrDefault(char.IsNumber));


                }
                else if (s.Contains("Delta-8") || s.Contains("d8-THC"))
                {
                    sl = s.Replace("Delta-8", "Delta-E");
                    sl = s.Replace("d8-THC", "dEight-THC");
                    index = sl.IndexOf(sl.FirstOrDefault(char.IsNumber));

                }
                else
                {
                    index = s.IndexOf(s.FirstOrDefault(char.IsNumber));

                }
                string name = s.Substring(0, index).Trim();
                string firstnum = s.Substring(index, s.Length - index).Split(" ")[0];
                string secondnum = s.Substring(index, s.Length - index).Split(" ")[1].Replace("%", "");
                string thirddnum = s.Substring(index, s.Length - index).Split(" ")[2].Replace("%", "");
                THCValue THCValue = new THCValue();
                if(inputformat=="1")
                {

                    string fourthnum = s.Substring(index, s.Length - index).Split(" ")[3].Replace("%", "");
                    string fifthnum = s.Substring(index, s.Length - index).Split(" ")[4].Replace("%", "");
                    THCValue = new THCValue() { Analyte = name, Dilution = firstnum, LOD = secondnum, LOQ = thirddnum, Result = fourthnum, Percent = fifthnum, BatchID = thcvalue.BatchID };
                }
                else if (inputformat=="2")
                {

                    THCValue = new THCValue() { Analyte = name, LOD = firstnum, Result = secondnum, Percent = thirddnum, BatchID = TerpeneValue.BatchID };
                }

                THCValue.createdby = userid;
                THCValues.Add(THCValue);
                // THCValues.Add(new THCValue() { Name = name, Value = Convert.ToDouble(secondnum), BatchID = THCValue.BatchID });
                //THCValues.Add(new THCValue() { Name = name, Value = Convert.ToDouble(secondnum), BatchID = THCValue.BatchID });


            }
        }

    }
}
