@attribute [Authorize]
@page "/thcvalues/paste"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Terprint.Web.Data.TerprintWebContext DB
@inject Terprint.Web.Data.TerprintWebContext2 DB2
@inject NavigationManager NavigationManager
@inject common.AppState appstate
@inject common.AppState.StateContainer.THCValue asthcvalues
@using Terprint.Web.Models
<PageTitle>Paste THC Values</PageTitle>
<h3>Paste THC Values</h3>

<EditForm method="post" Model="@tv" OnValidSubmit="AddValues" FormName="create" Enhance>
    <div class="form-group">
        @{
            // terpeneValues = DB2.TerpeneValues.ToList();

        }
        <p>
            Please choose the input format
        </p>
        <InputSelect id="inputformatc" class="m-0 form-control" @bind-Value="@inputformat">
            <option value="1">1 [Analyte][ ][Dilution (1:n)][ ][LOD (%)][ ][LOQ (%)][ ][Result (mg/g)]{ ][(%)] </option>
            <option value="2">2 [Analyte][ ][LOD (MG/G)][ ][RESULT (MG/G)][ ][RESULT % (TOTAL)]</option>
            <option value="3">3 [Analyte][ ][LOD (MG/G)][ ][RESULT %][ ][RESULT (MG/G)]</option>
        </InputSelect>
        <Terprint.Web.Components.ChooserBatch></Terprint.Web.Components.ChooserBatch>

        <label class="control-label">THC Values</label>
        <InputTextArea id="tva" @bind-Value="@tv" class="form-control" rows="10">@string.Join("\n ", DB2.THCValues.Select(t => t.Analyte).ToList())</InputTextArea>
    </div>
    <button type="submit" class="btn btn-primary">Add Values</button>
</EditForm>

<AuthorizeView>
    <Authorized>
        @{
            userid = context.User.Identity?.Name;
        }
    </Authorized>
</AuthorizeView>
@code {
    public string userid { get; set; }
    [SupplyParameterFromForm]
    public string inputformat { get; set; } = new("");

    [SupplyParameterFromForm]
    public THCValue thcvalue { get; set; } = new();
    [SupplyParameterFromForm]
    public IList<THCValue> THCValues { get; set; } = new List<THCValue>();
    [SupplyParameterFromForm]
    public string tv { get; set; } = new("");

    [SupplyParameterFromForm]
    public TerpeneValue TerpeneValue { get; set; } = new();

    public IList<Batch> Batches
    {
        get
        {
            batch = DB2.Batch.ToList();
            return batch;
        }
        set { batch = value; }
    }

    private IList<Batch> batch { get; set; }

    public async Task AddValues()
    {
        //Batch.Grower = Grower;
        //DB2.DisposeAsync();

        ParseValues();
        await DB.THCValues.AddRangeAsync(THCValues);
        await DB.SaveChangesAsync();
        asthcvalues.THCValues.AddRange(THCValues);
        NavigationManager.NavigateTo("/thcvalues");
    }
    private void ParseValues()
    {
        var longlist = tv;
        var result = tv.Split(new[] { '\n' });
        THCValues = new List<THCValue>();
        foreach (string s in result)
        {
            if (s.Length > 0)
            {
                string sl = s;
                int index = 0;
                if (s.ToLower().Contains("delta-9") || s.ToLower().Contains("d9-thc") || s.ToLower().Contains("Δ9-thc") || s.ToLower().Contains("δ9-thc") || s.ToLower().Contains("delta-9 thc"))
                {
                    sl = s.ToLower().Replace("delta-9 thc", "XXXXXXXXXXX");
                    sl = sl.ToLower().Replace("delta-9", "XXXXXXX");
                    sl = sl.ToLower().Replace("δ9-thc", "XXXXXX");
                    sl = sl.Replace("Δ9-thc", "XXXXXX"); 
                    sl = sl.ToLower().Replace("d9-thc", "XXXXXX");
                    index = sl.IndexOf(sl.FirstOrDefault(char.IsNumber));


                }
                else if (s.ToLower().Contains("delta-8") || s.ToLower().Contains("d8-thc") || s.ToLower().Contains("Δ8-thc") || s.ToLower().Contains("δ8-thc") || s.ToLower().Contains("delta-8 thc"))
                {
                    sl = s.ToLower().Replace("delta-8 thc", "XXXXXXXXXXX");
                    sl = sl.ToLower().Replace("delta-8", "XXXXXXX");
                    sl = sl.ToLower().Replace("δ8-thc", "XXXXXX");
                    sl = sl.Replace("Δ8-thc", "XXXXXX");
                    sl = sl.ToLower().Replace("d8-thc", "XXXXXX");
                    index = sl.IndexOf(sl.FirstOrDefault(char.IsNumber));

                }
                else
                {
                    index = s.IndexOf(s.FirstOrDefault(char.IsNumber));

                }
                string name = s.Substring(0, index).Trim();
                string firstnum = s.Substring(index, s.Length - index).Split(" ")[0];
                string secondnum = s.Substring(index, s.Length - index).Split(" ")[1].Replace("%", "");
                double thirddnum = 0;  

                if (secondnum.ToLower().Contains("loq") || secondnum.ToLower().Contains("lod") || secondnum.ToLower().Contains("nd"))
                {
                    //no data
                }
                else
                {
                    THCValue THCValue = new THCValue();
                    if (inputformat == "1")
                    {

                        string fourthnum = s.Substring(index, s.Length - index).Split(" ")[3].Replace("%", "");
                        double fifthnum = 0;
                        double.TryParse(s.Substring(index, s.Length - index).Split(" ")[4].Replace("%", ""), out fifthnum);
                        THCValue = new THCValue() { Analyte = name, Dilution = firstnum, LOD = secondnum, LOQ = thirddnum.ToString(), Result = fourthnum, Percent = fifthnum, BatchID = TerpeneValue.BatchID };
                    }
                    else if (inputformat == "2")
                    {

                        double.TryParse(s.Substring(index, s.Length - index).Split(" ")[2].Replace("%", ""), out thirddnum);
                        THCValue = new THCValue() { Analyte = name, LOD = firstnum, Result = secondnum, Percent = thirddnum, BatchID = TerpeneValue.BatchID };
                    }
                    else if (inputformat == "3")
                    {
                        double.TryParse(s.Substring(index, s.Length - index).Split(" ")[2].Replace("%", ""), out thirddnum);

                        THCValue = new THCValue() { Analyte = name, LOD = firstnum, Result = thirddnum.ToString(), Percent = double.Parse(secondnum), BatchID = TerpeneValue.BatchID };
                    }

                    THCValue.createdby = userid;
                    THCValues.Add(THCValue);

                }
                // THCValues.Add(new THCValue() { Name = name, Value = Convert.ToDouble(secondnum), BatchID = THCValue.BatchID });
                //THCValues.Add(new THCValue() { Name = name, Value = Convert.ToDouble(secondnum), BatchID = THCValue.BatchID });


            }
        }

    }
}
